
html{height:100%;}
body{min-height:100%;margin:0;padding:0;position:relative;background-color: purple;}
main{
	padding:100px 0 60px 0;
	
}
/*start navigation*/

.nav-title{
	color: lightblue;
	font-size: 25px;
}

.icon-adjust{
	margin-left: 5px;
	color: lightblue;
}


.a-b-font{
	color: lightblue;
	font-size: 15px;
}

.a-b-font-special{
	font-size: 25px;
	color: pink;
}


/*end navigation*/

/*main*/
.block-title{
	font-size: 30px;
	color: white;
	text-align: center;
}

.features-title{
	text-align: center;
	padding-top: 20px;
}

.features{
	text-align: center;
	padding:20px;
	
}

.features-h{
	margin-top: 20px;
	font-size: 20px;

}

.features-p{
	font-size: 20px;
}

.main-blocks{
	text-align: center;
}




.imgad{
	width: 30%;
	height:30%;
}



/*end main*/

/*footer*/

.footer-last{
	background-color: lightyellow;
    position:absolute;
    bottom:0px;
    width:100%;
    height:auto;
}

.footer-p{
	text-align: center;

}
/*end footer*/